.category-body {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 0 3vmin;
  display: grid;
  gap: 0.5rem 0.5rem;

  overflow: hidden;
}
.category-body > div {
  border-radius: 5px;
  padding: 1em;
}

.search-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
