.category-body {
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  padding: 0 3vmin;
  overflow: hidden;
  display: grid;
  grid-auto-rows: 0px;
  gap: 0 0.4rem;
  grid-template-rows: auto auto;
}
.category-body-all-rows {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 0 3vmin;
  overflow: hidden;
  display: grid;
  gap: 0.4rem 0.4rem;
}
.category-body > div {
  border-radius: 10px;
  padding: 0.2em;
}
.category-body-all-rows > div {
  border-radius: 10px;
  padding: 0.2em;
}
.card {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1.5px 1.5px 2px rgb(0 0 0 / 20%);
  border-radius: 10px;
  width: 100%;
  position: relative;
  padding-bottom: 90.4%;
  display: flex;
  align-items: center;
}
