<nav class="navbar navbar-expand-lg shadow-5-strong">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            (keyup)="onSearchQueryInput($event)"
          />
        </li>
        <li
          class="nav-item"
          *ngFor="let category of categories$ | async"
          (click)="navigateToCategory(category)"
        >
          <button type="button" class="btn btn-primary me-3 rounded-pill">
            {{ category.name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
